@model UpdateBookingDto
@{
    ViewData["Title"] = "Update Reservation";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
}



<form method="post">
    <input type="hidden" asp-for="BookingId" />
    <input type="hidden" asp-for="UserId" value="@ViewBag.user" />

    
    <div class="mb-3">
        <label>Select Your Vehicle</label>
        <select asp-for="CarId" class="form-control">
            <option selected>Select Your Vehicle</option>
            @foreach (var car in ViewBag.SelectedCarList)
            {
                <option value="@car.Value">@car.Text</option>
            }
        </select>
    </div>


    <div class="row">

        <div class="col-md-6 mb-3">
            <label>Pick Up Location</label>
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="ms-1">Pick Up</span>
                </div>
                <select class="form-select" asp-for="PickUpLocation" asp-items="ViewBag.Cities">
                    <option value="">Select Pick-Up Location</option>
                </select>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label>Drop Off Location</label>
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="ms-1">Drop Off</span>
                </div>
                <select class="form-select" asp-for="DropOffLocation" asp-items="ViewBag.Cities">
                    <option value="">Select Drop-Off Location</option>
                </select>
            </div>
        </div>
    </div>

  
    <div class="mb-3">
        <label>Pick Up Date</label>
        <div class="input-group">
            <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                <span class="fas fa-calendar-alt"></span>
                <span class="ms-1">Pick Up</span>
            </div>
            <input class="form-control" asp-for="PickUpDateTime" type="datetime-local">
        </div>
    </div>

 
    <div class="mb-3">
        <label>Drop Off Date</label>
        <div class="input-group">
            <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                <span class="fas fa-calendar-alt"></span>
                <span class="ms-1">Drop Off</span>
            </div>
            <input class="form-control" asp-for="DropOffDateTime" type="datetime-local">
        </div>
    </div>


    <div class="text-center">
        <button class="btn btn-success">Update Reservation</button>
    </div>
</form>