@model CreateBannerDto
@{
    ViewData["Title"] = "CreateBanner";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imageFileInput = document.getElementById("ImageFile");
        var imagePreview = document.getElementById("imagePreview");

        if (imageFileInput) {
            imageFileInput.addEventListener("change", function (e) {
                if (e.target.files && e.target.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        imagePreview.src = event.target.result;
                        imagePreview.classList.remove("d-none");
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
            });
        }
    });
</script>

<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="ImageFile" class="form-label fw-bold">Upload Image</label>
        <input type="file" id="ImageFile" asp-for="ImageFile" name="ImageFile" accept="image/png, image/jpg, image/jpeg" class="form-control" />
        <img id="imagePreview" src="" alt="Image Preview" class="img-fluid mt-2 d-none" style="max-height: 200px;" />
    </div>


    <label>Our Mission</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />

    <label>Top Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    

    <button class="btn btn-outline-primary"><i class="fa fa-save"></i> Submit</button>
    <br />




</form>

