@model UpdateRoleDto
@{
    ViewData["Title"] = "Update Role";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Role Name</label>
    <input asp-for="Name" class="form-control" />
    <br />
    <p style="color:red">
        @Html.ValidationSummary()
    </p>
    <button class="btn btn-outline-info">Update</button>
</form>

